.button {
  padding: .5em 2em;
  border: $borderWidth solid $borderColor;
  border-radius: $borderRadius;

  background-color: $primaryColor;
  color: white;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
}