.button {
  padding: 1% 2%;
  border: $borderWidth solid $borderColor;
  border-radius: $borderRadius;

  background-color: $primaryColor;
  color: white;

  text-transform: uppercase;
  font-weight: bold;
}