.currentEstimation,
.estimationHistory,
.storyForm,
.votingWidget {
  float: left;

  h1 {
    text-align: center;
  }
}

.currentEstimation {
  width: 100%;
}

.estimationHistory {
  width: 98%;
}

.storyForm {
  width: 48%;
}

.votingWidget {
  width: 48%;
}

.currentEstimationButton,
.showVotes {
  display: block;
  margin: auto;
}

.showVotes {
  margin-bottom: 1%;
}