.currentEstimation,
.estimationHistory,
.storyForm,
.votingWidget {
  border: 1px solid black;
  float: left;
  padding: 1% 3%;

  h1 {
    text-align: center;
  }
}

.currentEstimation {
  width: 100%;
}

.estimationHistory {
  width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    td {
      border: 1px solid black;
      
      &:first-child {
        width: 50%;

        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }

    thead td {
      border-top: none;
    }

    tbody tr:last-child td {
      border-bottom: none;
    }

    td:not(:first-child) {
      text-align: center;
    }
  }
}

.storyForm {
  width: 50%;

  label,
  input,
  textarea {
    display: block;
    width: 100%;
  }
}

.votingWidget {
  width: 50%;
}