
$mainWidgetWidth: 30%;
$widgetPaddingTB: 1%;
$widgetPaddingLR: 1%;
$widgetPadding: $widgetPaddingTB $widgetPaddingLR;


ul{
  list-style-type: none;
}

.content {
  padding:$widgetPadding;  
  height: 75%;
  width: 100%;
}



.teams{
  width: $mainWidgetWidth;
  float: left;

  h1{
    text-align: center;
  }

  .addNewTeamButton{
    display: block;
    width: 135px;
    margin-right: auto;
    margin-left: auto;
  }
}


.yourTeams{
  border-bottom-style: outset;
  border-bottom-size: 2 px;
  padding-bottom: $mainWidgetMargin;
}

.recentEstimations{
  width: $mainWidgetWidth;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #888888;
  border-width: 5px;
  float: left;

  h1{
    text-align: center;
  }
}

.estimationsInProgress{
  width: $mainWidgetWidth;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #888888;
  border-width: 5px;
  float: left;

  h1{
    text-align: center;
  }
}
