.estimationHistory {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    td {
      border: 1px solid $borderColor;
      
      &:first-child {
        width: 50%;

        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }

    thead td {
      border-top: none;
    }

    tbody tr:last-child td {
      border-bottom: none;
    }

    td:not(:first-child) {
      text-align: center;
    }
  }
}