header{
  background-color: white;
  width: 100%;
  background-image: url("images/StoryTime_Logo.png");
  background-repeat: no-repeat;
  background-size: auto 90px;
  background-position: 2% 0;
  height: 90px;
}