@import "config";
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTSUUniRZcd_wq8DYmIfsw2A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

*{
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;  
}
$mainWidgetWidth: 30%;
$mainWidgetMargin:#{(100% - ($mainWidgetWidth * 3)) / 4};
body{
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-size: 13px;
}

header{
  width: 100%;
  height: auto;
  background-image: url("images/StoryTime_Logo.png");
  background-size: 40%;
  background-repeat: no-repeat;
  text-align: right;
}

ul{
  list-style-type: none;
}

.content
{
  background-color: rgb(248,248,248);
}
.teams{
  margin-right: $mainWidgetMargin;
  margin-top: $mainWidgetMargin;
  margin-bottom: $mainWidgetMargin;
	width: $mainWidgetWidth;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #888888;
  border-width: 5px;
  float: left;
}

.yourTeams{
  border-bottom-style: outset;
  border-bottom-size: 2 px;

}

.recentEstimations{
  margin-right: $mainWidgetMargin;
  margin-top: $mainWidgetMargin;
  margin-bottom: $mainWidgetMargin;
  width: $mainWidgetWidth;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #888888;
  border-width: 5px;
  float: left;
}

.estimationsInProgress{
  margin: $mainWidgetMargin;
  width: $mainWidgetWidth;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #888888;
  border-width: 5px;
	float: left;
}

