/* line 6, ../scss/_currentEstimation.scss */
.currentEstimation,
.estimationHistory,
.storyForm,
.votingWidget {
  border: 1px solid black;
  float: left;
  padding: 1% 3%;
}

/* line 12, ../scss/_currentEstimation.scss */
.currentEstimation {
  width: 100%;
}

/* line 16, ../scss/_currentEstimation.scss */
.estimationHistory {
  width: 100%;
}

/* line 20, ../scss/_currentEstimation.scss */
.storyForm {
  width: 50%;
}
/* line 25, ../scss/_currentEstimation.scss */
.storyForm label,
.storyForm input,
.storyForm textarea {
  display: block;
  width: 100%;
}

/* line 31, ../scss/_currentEstimation.scss */
.votingWidget {
  width: 50%;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTSUUniRZcd_wq8DYmIfsw2A.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* line 12, ../scss/StoryTime.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;
  /* Firefox 1 - 28 */
  box-sizing: border-box;
}

/* line 19, ../scss/StoryTime.scss */
body {
  font-family: Open Sans;
  font-style: normal;
  font-size: 13px;
}

/* line 25, ../scss/StoryTime.scss */
header {
  width: 100%;
  height: auto;
  background-image: url("images/StoryTime_Logo.png");
  background-size: 40%;
  background-repeat: no-repeat;
  text-align: right;
}

/* line 34, ../scss/StoryTime.scss */
ul {
  list-style-type: none;
}

/* line 39, ../scss/StoryTime.scss */
.content {
  background-color: #f8f8f8;
}

/* line 42, ../scss/StoryTime.scss */
.teams {
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 30%;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #888888;
  border-width: 5px;
  float: left;
}

/* line 53, ../scss/StoryTime.scss */
.yourTeams {
  border-bottom-style: outset;
  border-bottom-size: 2 px;
}

/* line 59, ../scss/StoryTime.scss */
.recentEstimations {
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 30%;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #888888;
  border-width: 5px;
  float: left;
}

/* line 70, ../scss/StoryTime.scss */
.estimationsInProgress {
  margin: 2.5%;
  width: 30%;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #888888;
  border-width: 5px;
  float: left;
}
